<!DOCTYPE html>
<html>
<head>
  <title>Forum Chat</title>
  <link rel="stylesheet" href="styles/chat.css" />
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js"></script>
  <script src="scripts/socketScript.js"></script>

</head>
<body>
  <div class="chat-status">
    <p>Users in chat:</p>
    <p id="chatters"></p>
  </div>
  <div class="chat">
  <ul id="messages"></ul>
  <form action="">
    <input type="hidden" id="username" value="<%= thisUser.username %>" />
    <input type="text" id="m" autocomplete="off" autofocus /><button>Send</button>
  </form>
  </div>

</body>
</html>
