<% include ../partials/header %>

  <p><a href="/forums/new">Create a new forum.</a></p>

  <% forums.forEach(function(forum) { %>
    <h4><a href="/forums/<%= forum.name %>"><%= forum.name %></a></h4>
    <p>last activity <%= forum.lastActivity %> by <a href="/users/<% forum.lastActivityUser %>"><%= forum.lastActivityUser %></a></p>
  <%  }); %>

<% include ../partials/footer %>