<% include ../partials/header %>

  <div class="form-container">
    <form action="/forums" method="POST">
      <label>Forum Title:
        <input type="text" name="forum[name]" autofocus />
      </label>
      <input type="submit" value="Create Forum" />
    </form>
  </div>

<% include ../partials/footer %>
