<!DOCTYPE html>
<html>
<head>
  <title><%= docTitle %></title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>tiny avatar pic</li>
        <li><a href="<%= user.username %>"><%= user.username %></a></li>
      </ul>
      <ul>
        <li><a href="/">main</a></li>
        <li>forums list</li>
        <li>add new post</li>
        <li>users</li>
        <li><a href="/logout">sign out</a></li>
      </ul>
    </nav>
  <!--navebar-->
  </header>