<% include ../partials/header %>

  <div class="main center">
    <% users.forEach(function(user) { %>
     <!--  <img src="http://placehold.it/50x50" /> -->
      <h5><a href="/users/<%= user.username %>"><%= user.username %></a></h5>
    <%  }); %>
  </div>

<% include ../partials/footer %>