<% include ../partials/header %>

  <form action="/forums/<%= forum.name %>/posts" method="POST">
    <input type="hidden" name="post[forum]" value="<%= forum %>" />
    <label>
      <input type="text" name="post[title]" placeholder="title of your post" />
    </label>
    <label>
      <textarea name="post[content]" placeholder="Type in here..."></textarea>
    </label>
    <button type="submit">Create New Post</button>
  </form>

<% include ../partials/footer %>