<% include ../partials/header %>

  <form action="/posts" method="POST">
    <label>Choose a forum to include this post in:
      <select name="post[forum]">

      <% forums.forEach(function(forum) { %>
        <option value="<%= forum.name %>"><%= forum.name %></option>
      <% }); %>

      </select>
    </label>
    <label>
      <input type="text" name="post[title]" placeholder="title of your post" />
    </label>
    <label>
      <textarea name="post[content]" placeholder="Type in here..."></textarea>
    </label>
    <button type="submit">Create New Post</button>
  </form>

<% include ../partials/footer %>